<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="login()">
      <input type="hidden" name="force-no-autocomplete">
      <h2>Sign in to UltraCommerce</h2>
      <mat-error *ngIf="loginInvalid">
        The username and password were not recognised
      </mat-error>
      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Username or Email" formControlName="username" required>
        <mat-error>
          {{form.get('username')?.getError('msg') || 'Please provide a valid email address'}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>Passwort</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          {{form.get('password')?.getError('msg') || 'Please provide a valid password'}}
        </mat-error>
      </mat-form-field>
      <button [class.spinner]="loading" [disabled]="loading" mat-raised-button color="primary">{{ 'signin' }}</button>
    </form>
  </mat-card-content>
</mat-card>
