<mat-toolbar class="mat-elevation-z8 navigation-toolbar sticky navigation-fixed">
  <mat-toolbar-row>
    <button [routerLink]="'/product/list'" *ngIf="authService.isLoggedIn() | async" mat-button>
      {{ 'Product List' }}
    </button>
    <button [routerLink]="'/cart'" *ngIf="authService.isLoggedIn() | async" mat-button>
      {{ 'Cart' }}
    </button>
    <button (click)="logout()" *ngIf="authService.isLoggedIn() | async" mat-button>
      {{ 'Logout' }}
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
